
<div class="page">

<span class="header-image">


</span>






<div class="form-style">
         <%= image_tag("Tower-2.gif", :alt => "Cell Tower", size: "140x190", class: "header-image") %>
<h1>Alert SMS App</h1>
<p id="instruction-text">Need to send an emergency text message? Type the phone number of the person that you'd like to contact and your message in the fields below and hit send.</p>
</div>

<div class="form-style">
<form>
<p><span id="phoneNumber">Phone Number:</span> <%= telephone_field(:user, :phone)  %></p>
<textarea name="text-field" placeholder="Type your Message"></textarea>
<input type="submit" value="Send" />
</form>
</div>

</div>
